{% extends 'base.html' %}

{% block title %}
    SABAK :: {{ title_k }}
{% endblock %}

{% block sidebar %}
        {% include 'inc/_sidebar.html' %}
{% endblock %}


{% block content %}
    <div class="box">
        {% for item in lessons_k %}
            <div class="card mb-3 pl-3 " style="margin: 5px">
                <div class="card-header">
                    Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
                </div>
                <div class="card-body">
                    <div class="media" style="display: block">
                        <div class="media-body">
                            <h5 class="card-title">{{ item.title }}</h5>
{#                            <p class="card-text">{{ item.video }}</p>#}
{#                            <video controls width="100%">#}
{#                                <source src="{{ item.video.url }}" type="video/mp4">#}
{#                                Your browser does not support the video tag.#}
{#                            </video>#}
                            <h7 class="card-title">Лектор: {{ item.lecturer }}</h7>
                            <p>
                            <h10 class="card-title">Описание урока: {{ item.description }}</h10>
                            </p>
                            <p>
                            <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Смотреть</a>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="card-footer text-muted">
                    {{ item.created_at|date:"Y-m-d H:i" }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
